<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 <category label="30100">
  <!--<setting id="advert" type="bool" label="Show Advert" default="true" />-->
  <setting id="tv3_hq" type="bool" label="30000" default="true" />
  <setting id="tv3_folders" type="bool" label="30001" default="true" />
 </category>
 <category label="30101">
  <setting id="tvnz_showads" type="bool" label="30000" default="true"/>
 </category>
 <category label="30102">
 </category>
</settings>
